* {
  margin:0;
  padding:0;
}
header {
   text-align: center;
  padding: 1%;
  margin: 1%;
}
nav { width: 100%; background-color:#EAD952; margin-bottom:2%; }
nav ul { list-style: none; padding: 0px; margin: 0px; font-weight: bold; text-align: center; }
nav ul li { display: inline-block; }
nav ul li a { display: block; padding: 10px 40px; text-decoration: none; color:#A57C52; }
nav ul li a:hover { background-color:#8ABDEF; color:white; 
}


article{
  padding: 1%;
  margin: 1%;
  
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
}
aside {
   padding: 1%;   
  margin: 1%;
  
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
}
aside ul {
  list-style: none;
  }
aside ul li{
  padding-bottom: 2%;
  
}


footer {
  clear:both;
  text-align: center;
  padding: 1%;
  margin: 1%;
  
  
}

@media only screen and (min-width: 1025px) {

article {
  width: 70%;
  float: left;
  background-color: #00CCFF;/*blue*/
 }
aside{
  width: 25%;
  float: right;
  background-color: #FFFF33;/*yellow*/
 
}
  }

@media only screen 
and (min-width : 767px) 
and (max-width : 1025px){
 article {
   float: left;
   width: 80%;
   background-color: #FF6600;/*orange*/
  }
  aside {
   float: right;
   width: 15%;
   background-color: #3366FF;/*blue*/
    
  }

}

@media only screen 
and (max-width: 767px){
 article {
   float: none;
   width: 98%;
   background-color: #9933FF;/*purlpe*/
  }
  aside {
   float: none;
   width: 98%;
   background-color: #CC3333;/*red*/
  font-size: .8em;  
  }
  footer {
    font-size: .8em;
	  
  }
  
  
  
  
}
  